<ion-view title="Fraglossudalfes" id="page415">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Con horizonte
          <a ui-sref="menu.glSsicoHorizonte">glósico</a>.</li>
        <li>•
          <a ui-sref="menu.fragipN">Fragipán</a> dentro de los primeros 100 cm del suelo mineral.</li>
      </ul>
      <hr>
    </div>
    <div>
    <img src="img/Natrustalf(300px).jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div> 
    <p align="center"><small>Imagen: John A. Kelley</small></p> 
    <div id="fraglossudalfes-markdown726" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Udalf
          <ul>
            <li>Fraglossudalf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
