<ion-view title="Gipsicriídes" id="page243">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Horizonte
        <a ui-sref="menu.gypsicoHorizonte">gípsico</a> dentro de los primeros 100 cm. </p>
      <hr>
    </div>
   <div>
  <img src="img/Gipsicriid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
  </div> 
    <div id="gipsicriDes-markdown402" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Criíd
          <ul>
            <li>Gipsicriíd</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
