<ion-view title="Haplowassentes" id="page478">
  <ion-content padding="true" class="has-header">
    <div id="haplowassentes-markdown842" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Wassentes.</p>

      <hr>
    </div>
    <div>
	<img src="img/Haplowassent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
	</div> 
	<p align="center"><small>Imagen: Jim Turenne</small></p> 
    <div id="haplowassentes-markdown843" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Wassent
          <ul>
            <li>Haplowassent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
