<ion-view title="Hemistes" id="page49">
  <ion-content padding="true" class="has-header">
    <div id="hemistes-markdown51" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Histosoles (materia orgánica moderadamente descompuesta).</p>

      <hr>
    </div>
    <div>
      <img src="img/83FtJqNiQGnfrYXPMT4S_Criohemist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="hemistes-markdown52" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Hemist?</p>
    </div>
    <div id="hemistes-button-bar20" class="button-bar">
      <a ui-sref="menu.subRdenesHistosoles()" id="hemistes-button81" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposHemistes()" id="hemistes-button82" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>
