<ion-view title="Hidracuentes" id="page482">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Entre los 20 y 50 cm de profundidad:
      </p>
      <ul>
        <li>• Más de 8% de arcilla.</li>
        <li>•
          <a ui-sref="menu.valorN"> Valor n</a> &gt; 0,7.</li>
      </ul>
      <hr>
      <p></p>
    </div>
    <div>
    <img src="img/Hidracuent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div> 
    <p align="center"><small>Imagen: Plogeo (via Wikimedia)</small></p> 
    <div id="hidracuentes-markdown850" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Acuent
          <ul>
            <li>Hidracuent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
