<ion-view title="Sulfiwassistes" id="page60">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con materiales
        <a ui-sref="menu.sulfDicosMateriales">materiales sulfídicos</a> en al menos 15 de los primeros 50 cm.
      </p>
      <hr>
    </div>
    <div>
    <img src="img/Sulfiwassist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div> 
    <p align="center"><small>Imagen: USDA/NRCS foto de Samuel Rios</small></p> 
    <div id="sulfiwassistes-markdown69" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Wassist
          <ul>
            <li>Sulfiwassist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
